$primary-color: white;
$header-bg-color: darkgoldenrod;

@mixin verticalAlign($top: 3em) {
  padding-top: $top;
}

.header-container {
  @include verticalAlign;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/basketball.png');
  background-color: $header-bg-color;
  padding-bottom: 2em;
}

.header-image {
  @include verticalAlign($top: 1.25em);
}

.header-name p {
  margin: 0;
  padding: 0;
  color: $primary-color;
  font-size: 2em;
}
