.header-container {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/basketball.png");
  background-color: darkgoldenrod;
  padding-bottom: 2em;
}

.header-image {
  padding-top: 1.25em;
}

.header-name h2 {
  margin: 0;
  padding: 0;
  color: white;
}
